
.body {
  display: block;
  margin: 0px;
}

.intro-animation {
  overflow: hidden;
  width: 100%;
 z-index: -1;
}

#set-height {
  display: block;
}
#v0 {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.blocky-background-icon {
  position: relative;
  width: 100%;
}
.blocky-bg,
.blocky-icon {
  align-self: stretch;
  overflow: hidden;
}
.blocky-bg {
  background-color: #f90;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.blocky-icon {
  flex: 1;
  position: relative;
  width: auto;
  max-height: 100%;
  object-fit: contain;
}
.blocky-bg-parent,
.blocky-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.blocky-parent {
  height: auto;
  flex-shrink: 0;
  flex-direction: row;
  padding: 2%;
  box-sizing: border-box;
  justify-content: center;
  margin-top: -63.94em;
}
.blocky-bg-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.slide-1 {
  align-self: stretch;
  position: relative;
  width: 100%;
  
}
.click {
  margin: 0;
}
.click-me {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 28.13em;
  line-height: 0.73em;
  text-transform: lowercase;
  font-weight: 700;
  font-family: Handjet;
  color: #fff;
  text-align: right;
  display: inline-block;
  z-index: 0;
}
.video {
  position: absolute;
  margin: 0 !important;
  height: 105.66%;
  width: 40.69%;
  top: 0;
  right: 42.57%;
  bottom: -5.66%;
  left: 16.74%;
  z-index: 1;
}
.click-me-parent,
.desktop-1-inner {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.click-me-parent {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 426.88px);
  left: calc(50% - 720px);
  width: 90em;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8.38em 7.19em 6.31em 6.06em;
  box-sizing: border-box;
  z-index: 0;
}
.desktop-1-inner {
  align-self: stretch;
  flex: 1;
  background: linear-gradient(0deg, #0f6, #ff89fa 48.15%, #db00ff);
  flex-direction: column;
  position: relative;
}
.frame-child,
.frame-inner,
.frame-item,
.rectangle-div {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: #64bdff;
}
.frame-inner,
.frame-item,
.rectangle-div {
  background-color: #ffe500;
}
.frame-inner,
.rectangle-div {
  background-color: #2c9f2a;
}
.rectangle-div {
  background-color: #f90;
}
.bottom-cubes,
.rectangle-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rectangle-parent {
  align-self: stretch;
  flex: 1;
  align-items: center;
}
.bottom-cubes {
  bottom: -0.03em;
  width: 100%;
  height: 9em;
  align-items: flex-end;
  z-index: 0;
}
.bottom-cubes,
.frame-child10,
.frame-child9 {
  position: absolute;
  margin: 0 !important;
}
.frame-child9 {
  top: 0.5em;
  left: 21.41em;
  background-color: #9eff00;
  width: 2.19em;
  height: 26.31em;
  z-index: 0;
}
.frame-child10 {
  top: calc(50% - 180.5px);
  left: 17em;
  border-radius: 20px;
  background-color: #ff004d;
  width: 1.88em;
  height: 11em;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.frame,
.icon {
  overflow: hidden;
}
.frame {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 260.75px);
  left: 0;
  width: 45em;
  height: 27.31em;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.deflate,
.desktop-1,
.frame1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.range-slider {

   Slider
  .input-range {
    -webkit-appearance: none;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    
  }
}


::-moz-range-track {
    background: #ccc;
    border: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}








.frame1 {
  position: relative;
  top: 0;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  z-index: 2;
}
.deflate,
.desktop-1 {
  position: relative;
}
.deflate {
  align-self: stretch;
  height: 61.97em;
  justify-content: center;
}
.desktop-1 {
  background-color: #fff;
  width: 100%;
  height: 320.69em;
  overflow: hidden;
  justify-content: flex-start;
}
@media screen and (max-width: 420px) {
  .blocky-parent {
    flex-direction: row;
    gap: 2.81em;
    align-items: center;
    justify-content: center;
  }
}
